/* 반려동물list 테이블 CSS */

/* no */
#com_animals>tbody td:first-child{
    width:10%;
}
/* 종 */
#com_animals>tbody td:nth-child(2){
    width:10%;
}
/* 이름 */
#com_animals>tbody td:nth-child(3){
    width:15%;
}
/* 개월 */
#com_animals>tbody td:nth-child(4){
    width:5%;
}
/* 분양가 */
#com_animals>tbody td:nth-child(5){
    width:20%;
}
/* 상태 */
#com_animals>tbody td:nth-child(6){
    width:10%;
}
/* 지점 */
#com_animals>tbody td:nth-child(7){
	width:10%;
}
/* 등록상태 */
#com_animals>tbody td:nth-child(8){
	width:10%;    
}



